.herder_contens {
  background-color:red;
}

@media screen and (min-width:480px) { 
  /*　画面サイズが480pxからはここを読み込む　*/
  .herder_contens {
    background-color:blue;
  }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/
  .herder_contens {
    background-color:green;
  }
}
@media screen and (min-width:1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .herder_contens {
    background-color:skyblue;
  }
}